<div class="bg-img">
<div class="panel panel-default">  
    <div class="panel-heading">  
        <h3 style="text-align: center">View Customers</h3><br>  
    </div> 
    <div class="panel-body"> 
      <table  class="table table-hover table-sm table-striped">  
          <thead>
              <tr>
                  <th>Customer Id</th>
                  <th>Customer Name</th>
                  <th>Customer Password</th>
                  <th>Date Of Birth</th>
                  <th>Contact</th>
              </tr>
          </thead>
          <tbody>
           <tr *ngFor="let cust of customers">
                <td>{{cust.id}}</td>
                  <td>{{cust.name}}</td>
                  <td>{{cust.password}}</td>
                  <td>{{cust.dateOfBirth}}</td>
                  <td>{{cust.contact}}</td>
            </tr>
        </tbody><br>  
    </table>  
</div>
</div>
</div>
