<body>
    <h2> Screen to be searched </h2><br>
    <form (ngSubmit)="searchOneScreen()">
        <div class="fourteen">
        <label>Screen Id</label>
        <input type="number" name="ScreenId" placeholder="Enter Screen Id" [(ngModel)]="sid" required minlength="4" required pattern="[1-9][0-9][0-9][0-9]" required #idd="ngModel"  class="form-control" >
            <div *ngIf="idd.invalid && idd.touched" class="alert alert-danger">
            <div *ngIf="idd.errors.required">Screen ID is Mandatory</div>
            <div *ngIf="idd.errors.pattern">Screen ID can have 4 digits with not 0 at first place</div>
            </div>
        </div>
        <div class="fifteen">
        <input type="submit" value="Search"  class="btn btn-success">
        </div>
    </form><br><br><br>
    <div class="sixteen">
    <table  class="table table-bordered table-hover">
        <tr>
            <th>ScreenId</th>
            <th>ScreenName</th>
            <th>theatreId</th>
        </tr>
        <tr>
            <td>{{findScreen.id}}</td>
            <td>{{findScreen.name}}</td>
            <td>{{findScreen.theatreId.id}}</td>
        </tr>
    </table>
    </div>
    </body>