<div class="bg-img">
    <div class="row">  
    <div class="col-md-offset-4 col-md-12" >
        <form [formGroup]="form" #searchform (ngSubmit)="searchForm(searchform)" style="text-align: center;padding-top: 10px;">  
            <table align="center">  
                <tr>  
                    <td> <input type="text" formControlName="id" placeholder="Enter id" class="form-control"> </td>  
                    <td><button class="btn btn-success hidden-xs">Search</button></td>  
                </tr>  
            </table>  
        </form>
    </div>    

        <br><br> 
        <div class="table-content">
        <table class="table table-bordered table-striped table-responsive">  
            <tr>  
                <th>Id</th>  
                <th>Name</th>  
                <th>Director</th> 
                <th>Language</th>
                <th>Release Date</th> 
            </tr>  
            <ng-container>   
                <tr>  
                   <td>{{movie.id}}</td>
                    <td>{{movie.name}}</td>  
                    <td>{{movie.director}}</td>  
                    <td>{{movie.language}}</td>
                    <td>{{movie.releaseDate}}</td>  
                </tr>  
            </ng-container>  
        </table>  
        </div>
    
</div>
</div>
