.bg-img {
    /* The image used */
    background-image: url("../../assets/imgb.jpg");
   min-height: 680px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

.table-content{
   padding:20px;
   margin-left: 500px;
   margin-top: 70px;

}