<div class="modal" id="myModal" ng-app="myBooking" ng-controller="myCtrl">  
    <div class="modal-dialog">  
      <div class="modal-content">  
           <h3 class="text-center">Enter Booking Info</h3>
         <!-- Modal body -->  
           <div class="modal-body"  >  
           <!-- <div [hidden]="isupdated"></div>-->
           <label for="noOfSeats">Select Number of Seats</label>  
           <input type="number" id="noOfSeats" class="form-control" formControlName="noOfSeats" required >
          <div *ngIf="noOfSeats.invalid && (noOfSeats.dirty || noOfSeats.touched)"
         class="alert alert-danger">
         <div *ngIf="noOfSeats.errors.required">
           Field is required.
          </div>

         <label for="noOfSeats">Booking Date</label>  
          <input type="Date" id="bookingDate" class="form-control" formControlName="bookingDate" required >
           <div *ngIf="bookingDate.invalid && (bookingDate.dirty || bookingDate.touched)"
            class="alert alert-danger">
           <div *ngIf="bookingDate.errors.required">
             Field is required
         </div>
         <button type="button" class="btn btn-success" >Confirm Booking</button> 

    </div>
          </div>
           <!-- Modal footer -->  
          <div class="modal-footer" >  
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="changeisUpdate()">Close</button>  
          </div>
        </div>  
    </div>  
  </div> 
  <script>
    var app = angular.module("myBooking", []); 
    app.controller("myCtrl");
          
    
    </script>
    
    