<div class="bg-img">
<body>
    <div class="two">
        <a routerLink="/addscreen"><button class="btn btn-outline-primary">Add Screen</button></a>
        <a routerLink="/viewscreen"><button class="btn btn-outline-primary">View Screen</button></a>
        <a routerLink="/searchscreen"><button class="btn btn-outline-primary">Search Screen</button></a>
        <a routerLink="/deletescreen"><button class="btn btn-outline-primary">Delete Screen</button></a>
        <a routerLink="/updatescreen"><button class="btn btn-outline-primary">Update Screen</button></a>
    </div>
  <router-outlet>
 </router-outlet>
</body>
</div>