<div  class="container-fluid">  
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">  
        <ol class="navbar-nav">  
            <h3>Admin Dashboard</h3>

            <a routerLink="/home" class="nav-link" class="btn btn-primary active" role="button" >Home</a>  
         
            <a routerLink="/cityDashboard" class="nav-link" class="btn btn-primary active" role="button" >City</a>  
          
            <a  routerLink="theatre" class="nav-link" class="btn btn-primary active" role="button" >Theatre</a>  
           
            <a  routerLink="screen" class="nav-link" class="btn btn-primary active" role="button" >Screen</a>  
          
            <a  routerLink="show" class="nav-link" class="btn btn-primary active" role="button" >Show</a>  
          
        </ol>  
      </nav>     
        <router-outlet></router-outlet>  
    </div>  
