body, html {
    height: 100%;
    background-color: rgb(214, 110, 171);
  }

  .bg-img {
    /* The image used */
    background-image: url("../../assets/imgc.jpg");
    min-height: 680px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .btn1{
    margin-left: 900px;
  }