<div class="bg-img">
<h3>Add City</h3>  
<div class="row">  
  <div class="col-sm-4"></div>  
  <div class="col-sm-4" >  
    <div [hidden]="submitted" style="width: 400px;">  
      <form [formGroup]="cityform" #savecity (ngSubmit)="saveCity(saveCity)">  

        <div class="form-group">  
            <label for="id">City Id</label>  
            <input type="text" class="form-control"  formControlName="id" data-toggle="tooltip"   
               data-placement="right" title="Enter City Id" >   
        </div>  

          <div class="form-group">  
              <label for="name">City Name</label>  
              <input type="text" class="form-control"  formControlName="name" data-toggle="tooltip"   
                 data-placement="right" title="Enter City Name" >  
          </div>  
          <button type="submit" class="btn btn-success">Add..</button>  
      </form>  
  </div>  
  </div> 

  <div class="col-sm-4"></div>  
</div>  

<div class="row">  
  <div class="col-sm-4"></div>  
  <div class="col-sm-4">  
      <div [hidden]="!submitted">  
         <h4>City Added SuccessFully!</h4>  
       <button (click)="addCityForm()" class='btn btn-primary'>Add City</button>  
      </div>        
  </div>  
  <div class="col-sm-4"></div>  
</div>  
</div>