.bg-img {
    /* The image used */
    background-image: url("../../assets/imgb.jpg");
   min-height: 680px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }