<div  class="container-fluid">  
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">  
      <ul class="navbar-nav">  
        <li class="nav-item ">  
         <!-- <a routerLink="homepage" class="nav-link" class="btn btn-primary active" role="button" >Home</a>-->  
         <input type="button" class="btn btn-primary" (click)="routerPage('homepage')" value="Home" id="home">
        </li>&nbsp;&nbsp; 
        <input type="button" class="btn btn-primary"  (click)="routerPage('customer-register')" value="Register Now" id="reg">       
      </ul>  
    </nav>

<body>
  <div class="hp-img">

     <h2 class="heading">Movie Ticket Booking System</h2>
     <form action="../../assets/img1.jpg" class="container" id="form1">
      <div>
        <img src="../../assets/admin.png" width="25px;" height="25px;">
     &nbsp;
     <input type="button" class="btn btn-primary" (click)="routerPage('admin-menu')" value="Admin Login">
    </div>
     <br>
     <br>
     <div>
      <img src="../../assets/cust.png" width="30px;" height="30px;">
      &nbsp;
     <input type="button" class="btn btn-primary"  (click)="routerPage('customer-menu')" value="Customer Login">
    </div>
     <br>
     <br>
     </form>
  </div>
</body>
