<div class="bg-img">
    <body>
    <div class="two">
        <a routerLink="/addtheatre"><button type="button" class="btn btn-outline-primary" >Add Theatre</button></a>
        <a routerLink="/viewtheatre"><button type="button" class="btn btn-outline-primary" >View Theatre</button></a>
        <a routerLink="/searchtheatre"><button type="button" class="btn btn-outline-primary">Search Theatre</button></a>
        <a routerLink="/deletetheatre"><button type="button" class="btn btn-outline-primary" >Delete Theatre</button></a>
        <a routerLink="/updatetheatre"><button type="button" class="btn btn-outline-primary" >Update Theatre</button></a>
        <router-outlet></router-outlet>
    </div>
</body>

</div>